.env
*.sqlite3
venv/
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
build/
dist/
*.egg-info/
.coverage
coverage.xml
htmlcov/
.idea/
.vscode/
docker-compose.override.yml
docker-compose.*.yml
.DS_Store
Thumbs.db
ehthumbs.db
Icon?
*.log
logs/
